.NameDiv{
    width:100%;
    display: flex;
    background-color: coral;
}

.UnitsDiv{
    width:100%;
    display: flex;   
    background-color: cornflowerblue;
}

.PriceDiv{
    width:100%;
    display: flex;   
    background-color:darkkhaki;
}

.lbl1{
    width:50%;
    padding:2%;
    margin:2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

.inp1{
    width:50%;
    padding:2%;
    margin:2%;
    
}

.lbl2{
    width:50%;
    padding:2%;
    margin:2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

.inp2{
    width: 50%;
    padding:2%;
    margin:2%;
}

.lbl3{
    width:50%;
    padding:2%;
    margin:2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

.inp3{
    width: 50%;
    padding:2%;
    margin:2%;
}

.SubmitDiv{
    width: 100%;
    padding:3%;
    margin-top:3%;
    text-align: center;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}