.PageMain{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 50%;
}

.Add{
    width:100%;
    text-align: center;
    padding: 2%;
    margin-bottom: 5%;
    border:1px solid cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

.Update{
    text-align: center;
    padding: 2%;
    width:100%;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    border:1px solid coral;
}

